End to end data analyst portfolio project from gathering data programatically using the Kaggle API, through data exploration, assessment and manipulation using the pandas library in Python, to data visualisation in Tableau.

Using London Bike Sharing dataset from Kaggle. https://www.kaggle.com/datasets/hmavrodiev/london-bike-sharing-dataset

In [11]:
import pandas as pd

In [8]:
import zipfile

In [4]:
pip install kaggle

Collecting kaggle
  Downloading kaggle-1.6.4.tar.gz (84 kB)
     ---------------------------------------- 0.0/84.6 kB ? eta -:--:--
     ---------------------------------------- 84.6/84.6 kB 2.3 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: six>=1.10 in c:\users\stirs\miniconda3\envs\myenv\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi in c:\users\stirs\miniconda3\envs\myenv\lib\site-packages (from kaggle) (2023.11.17)
Requirement already satisfied: python-dateutil in c:\users\stirs\miniconda3\envs\myenv\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in c:\users\stirs\miniconda3\envs\myenv\lib\site-packages (from kaggle) (2.31.0)
Collecting tqdm (from kaggle)
  Downloading tqdm-4.66.1-py3-none-any.whl.metadata (57 kB)
     ---------------------------------------- 0.0/57.6 kB ? eta -:--:--
     ---------------------------------------- 57.6/57.6 kB 3.2 MB/s eta 0:00:00
Collecting python-slugify (from kaggle)
  Downloading python_slugify-8.0.3-py2.py3-none-any.whl.metadata (8.5 kB)
Requirement already satisfied: urllib3 in c:\users\stirs\miniconda3\envs\myenv\lib\site-packages (from kaggle) (1.26.16)
Requirement already satisfied: bleach in c:\users\stirs\miniconda3\envs\myenv\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: packaging in c:\users\stirs\miniconda3\envs\myenv\lib\site-packages (from bleach->kaggle) (23.1)
Requirement already satisfied: webencodings in c:\users\stirs\miniconda3\envs\myenv\lib\site-packages (from bleach->kaggle) (0.5.1)
Collecting text-unidecode>=1.3 (from python-slugify->kaggle)
  Downloading text_unidecode-1.3-py2.py3-none-any.whl (78 kB)
     ---------------------------------------- 0.0/78.2 kB ? eta -:--:--
     ---------------------------------------- 78.2/78.2 kB ? eta 0:00:00
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\stirs\miniconda3\envs\myenv\lib\site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\stirs\miniconda3\envs\myenv\lib\site-packages (from requests->kaggle) (3.4)
Requirement already satisfied: colorama in c:\users\stirs\miniconda3\envs\myenv\lib\site-packages (from tqdm->kaggle) (0.4.6)
Downloading python_slugify-8.0.3-py2.py3-none-any.whl (10 kB)
Downloading tqdm-4.66.1-py3-none-any.whl (78 kB)
   ---------------------------------------- 0.0/78.3 kB ? eta -:--:--
   ---------------------------------------- 78.3/78.3 kB 4.3 MB/s eta 0:00:00
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py): started
  Building wheel for kaggle (setup.py): finished with status 'done'
  Created wheel for kaggle: filename=kaggle-1.6.4-py3-none-any.whl size=111937 sha256=94f4b342875e3337073b961c28fbb17e5f09401febd34199676e9dda6b3ac7d0
  Stored in directory: c:\users\stirs\appdata\local\pip\cache\wheels\96\ea\6e\1ef402d5911f0536091cd6d9357682c64214efa960eab358b4
Successfully built kaggle
Installing collected packages: text-unidecode, tqdm, python-slugify, kaggle
Successfully installed kaggle-1.6.4 python-slugify-8.0.3 text-unidecode-1.3 tqdm-4.66.1
Note: you may need to restart the kernel to use updated packages.

In [5]:
import kaggle

In [6]:
#download dataset from kaggle using Kaggle API
!kaggle datasets download -d hmavrodiev/london-bike-sharing-dataset

Downloading london-bike-sharing-dataset.zip to c:\Documents_Not_Syncing\hello_ds

  0%|          | 0.00/165k [00:00<?, ?B/s]
100%|██████████| 165k/165k [00:00<00:00, 3.69MB/s]

In [14]:
#extract the file from  the downloaded zip file
zipfile_name = 'london-bike-sharing-dataset.zip'
with zipfile.ZipFile(zipfile_name, 'r') as file:
    file.extractall()

In [15]:
#read in the csv file as a pandas df
bikes = pd.read_csv('london_merged.csv')

In [16]:
#explore the data
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [17]:
bikes.shape

(17414, 10)

In [18]:
bikes

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [19]:
#count the unique values in the weather_code column
bikes.weather_code.value_counts()

weather_code
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

In [20]:
bikes.season.value_counts()

season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

In [21]:
#create new column names

new_cols_dict = {
    'timestamp' : 'time', 
    'cnt' : 'count', 
    't1':'temp_real_C',
    't2': 'temp_feels_like_C', 
    'hum' : 'humidity_percent', 
    'wind_speed' : 'wind_speed_kph', 
    'weather_code': 'weather', 
    'is_holiday' : 'is_holiday', 
    'is_weekend': 'is_weekend', 
    'season' : 'season'
}

#rename columns
bikes.rename(new_cols_dict, axis=1, inplace=True)

In [22]:
bikes

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [23]:
#changing humidity values to percentage
bikes.humidity_percent = bikes.humidity_percent / 100

In [26]:
#create a season dictionary to map the integers 0-3 to the actual written values

season_dict = {
    '0.0': 'spring',
    '1.0': 'summer', 
    '2.0' : 'autumn', 
    '3.0' : 'winter'
}

#create a weather dictionary to map the integers to actual written values
weather_dict = {
    '1.0': 'Clear', 
    '2.0' : 'Scattered clouds',
    '3.0' : 'Broken clouds', 
    '4.0' : 'Cloudy',
    '7.0' : 'Rain',
    '10.0' : 'Rain with thunderstorm',
    '26.0': 'Snowfall'
}
#changing season column data type to string
bikes.season = bikes.season.astype('str')
#mapping the values 0-3 to the actual written seasons
bikes.season = bikes.season.map(season_dict)

#changing the weather column data type to string
bikes.weather = bikes.weather.astype('str')
#mapping the codes to actual written weather values
bikes.weather = bikes.weather.map(weather_dict)

In [27]:
#checking the dataframe to see if changes worked
bikes.head()

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken clouds,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,0.0,1.0,winter

In [29]:
#to write in an excel file, we need openpyxl 
pip install openpyxl

Collecting openpyxlNote: you may need to restart the kernel to use updated packages.

  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
     -------------------------- ----------- 174.1/250.0 kB 5.3 MB/s eta 0:00:01
     -------------------------------------- 250.0/250.0 kB 5.1 MB/s eta 0:00:00
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [30]:
#writing the final data frame to an excel file to use in Tableau visualizations. 
#The file will be the 'london_bikes_final.xlsx' 
bikes.to_excel('london_bikes_final.xlsx', sheet_name='Data')